<h1>CRIMINAL INDEX</h1>



<div class="info">
<table>
    <thead>
        <tr>
            <th></th>
            <th>SSN</th>
            <th>Name</th>
            <th>ALIAS</th>
            <th>DOB</th>
            <th>SEX</th>
            <th>ORIGIN</th>
            <th>BLOODTYPE</th>
            <th>EYE COLOR</th>
            <th>SCARS, MARKS, TATTOOS</th>
            <th>CASE STATUS</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @criminals.each do |criminal|%>
            <tr data-link="<%= criminal_path(criminal) %>">
                <td><%= link_to 'Show', criminal_path(criminal), class: "front" %> | <%= link_to 'Edit', edit_criminal_path(criminal), class: "front" %></td>
                <td><%= criminal.ssn %></td>
                <td><%= criminal.name %></td>
                <td><%= criminal.alias %></td>
                <td><%= criminal.dob %></td>
                <td><%= criminal.sex %></td>
                <td><%= criminal.origin %></td>
                <td class="text-center"><%= criminal.bloodtype %></td>
                <td><%= criminal.eye_color %></td>
                <td><%= criminal.scars_marks_tattoos %></td>
                <% crime = criminal.crimes.find_by(case_closed: true) %>
                <td>
                    <% if crime %>
                        <%= "Closed with Crime \##{crime.id}"%>
                    <% else %>
                        Not Closed
                    <% end %>
                </td> 
                <td><%= link_to 'Destroy', criminal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
  </tbody>
</table>



<%= link_to 'Add New Target', new_criminal_path if current_user %>
</div>

<script>
    var trs = document.querySelectorAll("tr[data-link]");
    trs.forEach(function(tr) {
        tr.addEventListener("click", function({target}){
            if (target.tagName !== 'A') window.location = this.getAttribute("data-link");
        });
    });
</script>

