<h1>CRIMINAL INDEX</h1>



<div class="info">
<table>
    <thead>
        <tr>
            <th>SSN</th>
            <th>Name</th>
            <th>ALIAS</th>
            <th>DOB</th>
            <th>SEX</th>
            <th>ORIGIN</th>
            <th>BLOODTYPE</th>
            <th>EYE COLOR</th>
            <th>SCARS, MARKS, TATTOOS</th>
            <th>CASE STATUS</th>
        </tr>
    </thead>

    <tbody>
        <% @criminals.each do |criminal|%>
            <tr data-link="<%= criminals_path %>">
                 <td><%= link_to 'Show', criminal %></td>
                  <td><%= link_to 'Edit', edit_criminal_path(criminal) %></td>
                <a href="#"><td><%= criminal.ssn %></td></a>
                <a href="#"><td><%= criminal.name %></td></a>
                <a href="#"><td><%= criminal.alias %></td></a>
                <a href="#"><td><%= criminal.dob %></td></a>
                <a href="#"><td><%= criminal.sex %></td></a>
                <a href="#"><td><%= criminal.origin %></td></a>
                <a href="#"><td><%= criminal.bloodtype %></td></a>
                <a href="#"><td><%= criminal.eye_color %></td></a>
                <a href="#"><td><%= criminal.scars_marks_tattoos %></td></a>
                <% crime = criminal.crimes.find_by(case_closed: true) %>
                <td>
                    <% if crime %>
                        <%= "Closed with Crime \##{crime.id}"%>
                    <% else %>
                        Not Closed
                    <% end %>
                </td> 
        <td><%= link_to 'Destroy', criminal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
      <% end %>
  </tbody>
</table>



<%= link_to 'Add New Target', new_criminal_path if current_user %>
</div>
