<div>
        <%= form_for @criminal do |f| %>
            <% if @criminal.errors.any? %>
       <div class="error_messages">
            <h2>Form is invalid</h2>
                <ul>
                    <% for message in @criminal.errors.full_messages %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
        </div>
    <% end %>

<h1>New Entry</h1>
 <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control'%>
  </div>
    <%= f.submit 'Upload', class: 'btn btn-primary' %>
 <div class="field">
      <%= f.text_field :name, placeholder: 'enter name' %>
    </div>
    <div class="field">
      <%= f.text_field :ssn, placeholder: 'social security number' %>
    </div>
    <div class="field">
      <%= f.text_field :alias, placeholder: 'enter alias' %>
    </div>  
    <div class="field">
      <%= f.text_field :dob, placeholder: 'date of birth' %>
    </div>
    <div class="field">
      <%= f.text_field :sex, placeholder: 'sex/gender' %>
    </div>
    <div class="field">
      <%= f.text_field :origin, placeholder: 'place of origin' %>
    </div>
    <div class="field">
      <%= f.text_field :bloodtype, placeholder: 'bloodtype' %>
    </div>
    <div class="field">
      <%= f.text_field :eye_color, placeholder: 'eye color' %>
    </div>
    <div class="field">
      <%= f.text_field :scars_marks_tattoos, placeholder: 'add description' %>
    </div>

     <div class="actions" align="center" margin="5px"><%= f.submit %></div>

    <% end %>
</div>
